 /* MAIN */
  .App {
    text-align: center;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
    padding-bottom: 20px;
    width: 40%; 
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: silver;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);

  }
  html{
    background-color: white;
  }
/* HEADER */
.header{
  padding: 20px 0;
  background-color: silver;
}

/* BODY */
  /* GENERAL */
    ul {
      list-style-type: none;
      text-align: left;
      padding: 0;
      /* border: 2px solid blue; */
    }
    li{
      padding-left: 40px;
      padding-right: 40px;
      font-size: 1.1em;
      padding-bottom: 10px;
      /* border: 2px solid red; */
    }
    /* input{
      margin-left: 30px;
    } */
  /* UNCOMPLETED TASK */
    /* .UncompletedTask{
      color: blue;
    } */
    .checkbox{
      margin-right: 40px;
    }
    .editBox{
      margin-right: 10px;
    }
  /* COMPLETED TASK */
    .completedTask{
      display: flex;
      justify-content: space-between;
    }
    .completedTaskTitle{
      margin: 0;
      padding: 0;
    }
    .removeButton{
      margin-right: 10px;
      background-color: red;
      align-self: center;
      color: white;
    }
    .completedDate{
      font-size: .6em;
      color: green;
      align-self: center;
    }


/* FORM */
  .textInputForm{
    display: flex;
    margin-bottom: 30px;
    /* border: 2px solid red; */
    /* justify-content: center; */
    /* align-items: center; */
  }
  .taskText{
    flex: 2;
    font-size: 1.3em;
    margin-left: 40px;
  }
  .addTask{
    /* border: 2px solid green; */
    align-self: stretch;
    margin-right: 40px;
  }
  .listOption{
    padding-left: 30px;
  }
